<div class="jumbotron">
  <h1>What do I do if the bot is frozen?</h1>
  <hr />
  <p class="lead">
    Restart the bot:
  </p>
  <p>
    <ul>
      <li>First, try to restart the bot from the web interface.</li>
      <li>If the above fails, post in the channel <code>bot_name, bust-a-nut</code>. This will forcefully restart the bot and reset any instance variables to their defaults.</li>
      <li>If both of the above fail, contact the administrator.</li>
    </ul>
</div>
<h1>
