<h1>Tiwillia's Rails Template</h1>
<p><ul>
<li>The gem used for bootstrap's information can be found on <a href='https://github.com/seyhunak/twitter-bootstrap-rails'>github</a>.
<ul><li>Edit app/views/layouts/application.rb to change the layout.</ul>
<li>Global configuration file in YAML is at /config/application.yml.
<ul><li>See /config/appication.yml.sample</ul>
</ul></p>
