<div class="jumbotron">
  <h1>Swagbot</h1>
  <hr />
  <p class="lead">
    Click the 'bots' tab to create the first bot. If you have already created a bot, it can be accessed through the aforementioned tab.
  </p>
</div>
<h1>
