<h1 class=title>Bots</h1>
<% @bots.each do |bot| %>
  <div class="well">
    <p class="lead"><%= link_to bot.nick.capitalize, bot_path(bot) %></p>
    <p>
      <ul>
        <li><%= bot.server %></li>
      </ul>
    </p>
  </div>
<% end %>
