<div class="row">
  <div class="span6">
    <div class="well well-large">
      <div class="col-sm-offset-2">
        <h1 class="title">New Bot</h1>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
